.box {
  background-color: #cd6155;
  padding-top: 70px;
  padding-bottom: 100px;
  padding-right: 25px;
  padding-left: 25px;
  border: 2px;
}

.text {
  background-color: white;
  color: black;
}

.formTitle{
    align-content: center;
    margin-left: 150px;
    margin-bottom: 70px;
}

.button{
 
    background-color: "#FF0000"; 
    border: none;
    background-color: #f44336;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
  }
